<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new listing</title>
</head>
<body>
    <form action="/listing/create" method="post">
        <input name="title" type="text" placeholder="Enter title">
        <textarea name="description" id="" placeholder="Enter description:"></textarea>
        <input name="image" type="text" placeholder="Enter URL of image">
        <input name="price" type="number" placeholder="Enter price">
        <input name="location" type="text" placeholder="Enter location">
        <input name="country" type="text" placeholder="Enter country">
        <button>create</button>
    </form>
</body>
</html>