<%  layout("/layouts/boilerplate") -%>
<body>
    <div class="row">

    
        <div class="col-8 offset-2">
            <h3 class="mt-3">Create New Listing</h3>
            <form action="/listings" method="post" class="needs-validation" novalidate>
                
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" id="title" type="text" placeholder="Enter title" class="form-control" required>
                    <div class="invalid-feedback">Title is required.</div>
                    <div class="valid-feedback">Looks good!</div>
                </div>
        
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="description" placeholder="Enter description:" class="form-control" required></textarea>
                    <div class="invalid-feedback">Description is required.</div>
                    <div class="valid-feedback">Looks good!</div>
                </div>
        
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input name="listing[image]" id="image" type="url" placeholder="Enter URL of image" class="form-control">
                    <div class="invalid-feedback">Please enter a valid image URL.</div>
                    <div class="valid-feedback">Valid image URL!</div>
                </div>
        
                <div class="row">
                    <div class="mb-3 col-md-4"> 
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" id="price" type="number" placeholder="Enter price" class="form-control" required>
                        <div class="invalid-feedback">Price is required and must be a valid number.</div>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
        
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" id="country" type="text" placeholder="Enter country" class="form-control" required>
                        <div class="invalid-feedback">Country is required.</div>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" id="location" type="text" placeholder="Enter location" class="form-control" required>
                    <div class="invalid-feedback">Location is required.</div>
                    <div class="valid-feedback">Looks good!</div>
                </div>
        
                <button class="btn btn-dark create-btn mb-3" type="submit">Create</button>
            </form>
        </div>
        
    </div>
</body>
