<%  layout("/layouts/boilerplate") -%>
<body>
    <h1>Listing page</h1>
    <!-- <form action="/listing/new">
        <button>Create New List</button>
    </form> -->
    <% for (let listing of AllListings ){%>
        <a href="listing/<%=listing._id%>"><li><%=listing.title%></li></a>
    <%}%>
    
 </body>
