body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
  
}
.nav-link{
    color:#222222  !important;
}
.navbar-brand{
    color: #fe424d   !important;
    font-size: 2rem   !important;
  
}
/* FOOTER */
.f-info-links a{
   text-decoration: none;
   color: #222222;
   width: 100%;
 
}
.f-info-links{
  width: 100%;
}

.f-info-links a:hover{
   text-decoration: underline;
}

.f-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebebeb;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 8rem;
}

.f-info-social{
    width: 100%  !important;;
    /* font-size: 1.2rem; */
} 
.f-info-social i{
    margin-right: 1rem;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}
.f-info-social i:hover{
    transform: scale(1.5);
   
}

/* card */
.card{
    border: none !important;
 
}
.card-img-top{
    width: 100%;
    /* cover:fit */
    height: 20rem;
    border-radius: 0.5rem;
    object-fit: cover; 
}

.listing-link{
    text-decoration: none;
}

.card-body p{
    margin-bottom: 0px;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    background-color: white;
    opacity: 0.2;
}

/* //create page */
.create-btn{
    background-color: #fe424d   !important;
    padding: 0,5rem 1rem !important;
    border: 1px solid black !important;
    color: white !important;
    margin-right: 1rem !important;
}

/* show page */
.show-img{
    height: 30vh;
    object-fit: cover; 
    border-radius: 1rem;
}

.btns{
    display: flex;
}

.delete-btn{
    background-color: black   !important;
    padding: 0,5rem 1rem !important;
    border: 1px solid white !important;
    color: white !important;
    margin-right: 1rem !important;
}